.hero {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-logo {
  width: 250px;
  margin-bottom: 20px;
  animation: floatLogo 4s ease-in-out infinite;
}

@keyframes floatLogo {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.hero-title {
  font-size: 65px;
  font-weight: 700;
  color: white;
}

.hero-title span {
  color: #e10600;
}

.hero-subtitle {
  font-size: 38px;
  letter-spacing: 4px;
  margin-top: 0px;
  color: #f5f5f5;
}

.hero-tagline {
  font-size: 30px;
  margin-top: 0px;
  color: #ddd;
}
