.glass-section {
  background: rgba(255, 255, 255, 0.06); /* transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 18px;
  margin: 80px auto;
  max-width: 1400px;
}
